*{
    margin: 0;
}

.container-home{
    margin: 0 auto;
    width: 100%;
}

/* slide promotion */
.pro{
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.pro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.best-seller-section{
    padding: 10px;
}

.best-seller-title{
    text-align: center;
    font-family: "Libre Caslon Display", serif;
}

.product-list-best{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width: 450px){
    .container-home{
        margin: 0 auto;
        width: 70%;
    }

    .pro{
        height: 400px;
    }
}

@media (min-width: 1024px){
    .container-home{
        margin: 0 auto;
        width: 65%;
    }

    .pro{
        height: 525px;
    }
}