@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
/*Font ENG */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
/*Font Thai */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.bg-regis {
  height: 100vh;
  background-image: url('../images/bg-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  padding: 35px 40px;
  width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.title-regis h1 {
  text-align: center;
  font-family: "Libre Caslon Display", serif;
  font-size: 36px;
  color: #3e2a1f;
  margin-bottom: 25px;
}

.name-input {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
}

.name-input .half {
  flex: 1;
}

/* input แบ่งครึ่ง */
.input-group.half input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #6F4E37;
  background: transparent;
  padding: 20px 10px 10px 10px;
  font-size: 18px;
  color: #000;
  outline: none;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif, "Itim", cursive;
}

.input-group.half label {
  position: absolute;
  left: 5px;
  top: 3px;
  color: #555;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease all;
  font-family: "Inter", sans-serif;
}

.input-group.half input:focus~label,
.input-group.half input:valid~label {
  top: -12px;
  font-size: 13px;
  color: #6F4E37;
}

.name-input+.input-group-regis {
  margin-top: 10px;
}

/* input เต็มบรรทัด */
.input-group-regis {
  position: relative;
  margin: 45px 0;
}

.input-group-regis input {
  height: 25px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #6F4E37;
  background: transparent;
  padding: 20px 10px 10px 10px;
  font-size: 18px;
  color: #000;
  outline: none;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif, "Itim", cursive;
}

.input-group-regis label {
  position: absolute;
  left: 5px;
  top: 3px;
  color: #555;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease all;
  font-family: "Inter", sans-serif;
}

.input-group-regis input:focus~label,
.input-group-regis input:valid~label {
  top: -12px;
  font-size: 13px;
  color: #6F4E37;
}

.regis-but {
  padding: 12px 35px;
  display: block;
  margin: 20px auto 0;
  border: none;
  border-radius: 50px;
  background-color: #6F4E37;
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(111, 78, 55, 0.4);
}

.regis-but:hover {
  background-color: #8B5E3C;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(111, 78, 55, 0.5);
}

@media (min-width: 450px) {
  .form-box {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .form-box {
    width: 40%;
  }
}