* {
    margin: 0;
}

.container-report {
    margin: 0 auto;
    width: 100%;
}

.report-card h2 {
    text-align: center;
    color: #a16207;
    margin-bottom: 20px;
    font-family: "Itim", cursive;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    font-family: "Itim", cursive;
}

.filter select {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #d4a373;
    background-color: #fff;
    font-size: 16px;
    font-family: "Itim", cursive;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.styled-table thead {
    background-color: #d4a373;
    color: white;
    text-align: center;
    font-family: "Itim", cursive;
    pointer-events: none;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    pointer-events: none;
    font-family: "Itim", cursive , "Inter", sans-serif;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f7dcba;
}

.total {
    text-align: right;
    color: #b45309;
    margin-top: 20px;
    font-weight: bold;
}

@media (min-width: 450px) {
    .container-report {
        margin: 0 auto;
        width: 70%;
    }

}

@media (min-width: 1024px) {
    .container-report {
        margin: 0 auto;
        width: 65%;
    }

}